@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  
  --color-emerald-50: #ecfdf5;
  --color-emerald-700: #047857;
  
  --color-red-50: #fef2f2;
  --color-red-700: #b91c1c;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
